<div class="modal delivery">
    <h2 class="delivery__title">Оплата и доставка</h2>
    <div class="delivery__cols">
        <div class="delivery__col column3">
            <h3>Доставка по Киеву</h3>
            <p>When popup is opened scrollbar of window disappears and creates empty space or shifts some fixed-positioned menu (or whatever)</p>
            <p>When popup is opened scrollbar of window disappears and creates empty space or shifts some fixed-positioned menu (or whatever)</p>
            <p>When popup is opened scrollbar of window disappears and creates empty space or shifts some fixed-positioned menu (or whatever)</p>
        </div>
        <div class="delivery__col column6">
            <h3>Доставка по Украине</h3>
            <p>When popup is opened scrollbar of window disappears and creates empty space or shifts some fixed-positioned menu (or whatever)</p>
        </div>
        <div class="delivery__col column3">
            <h3>Оплата заказа</h3>
            <p>When popup is opened scrollbar of window disappears and creates empty space or shifts some fixed-positioned menu (or whatever)</p>
        </div>
    </div>
</div>