<div class="modal delivery">
    <h2 class="delivery__title">Оплата и доставка</h2>
    <div class="delivery__cols">
        <div class="delivery__col column3">
            <h3>Доставка по Киеву</h3>
            <p>Наша служба доставки работает для Вас с понедельника по пятницу, с 14:00 до 19:00.</p>
            <p>Доставка товаров в день заказа возможна, при оформлении заказа до 12:00 и при условии наличия товара на нашем складе.</p>
            <p>Во время заказа наши менеджеры сразу согласуют с вами удобное время доставки.
                За 1 час до доставки заказа курьер обязательно свяжется с Вами для подтверждения времени и места доставки.</p>
        </div>
        <div class="delivery__col column6">
            <h3>Доставка по Украине</h3>
            <p>Доставка по Украине осуществляется с помощью перевозчиков Новая почта, Автолюкс и УкрПочта, либо курьером по Украине.</p>
            <h4>Новая почта</h4>
            <p>Заказы доставляются на склад компании Новая Почта в Вашем городе.</p>
            <p>Стоимость доставки зависит от суммы покупки:
                <br>
                <br>
                до 300 грн - 20 грн
                <br>
                свыше 300 грн - доставка бесплатная.</p>
            <p>Оплатить товар Вы можете на складе в момент получения заказа (дополнительно Вы оплачиваете 2% от суммы заказа + 17-18 грн (в зависимости от удаленности от Киева) за услугу обратной отправки денежных средств через Новую Почту).</p>
            <h4>Автолюкс</h4>
            <p>Заказы доставляются на склад компании Автолюкс в Вашем городе.</p>
            <p>Стоимость доставки зависит от суммы покупки:
                <br>
                <br>
                до 300 грн - 20 грн
                <br>
                свыше 300 грн - доставка бесплатная.</p>
            <p>Адрес ближайшего представительства можно узнать <a href="#">здесь</a>.</p>
        </div>
        <div class="delivery__col column3">
            <h3>Оплата заказа</h3>
            <h4>Наличная</h4>
            <p>Заказ оплачивается наличными курьеру в момент доставки либо на складе компании-перевозчика при получении. Оплата производится только в национальной валюте. В подтверждение факта оплаты мы выдаем товарный чек.</p>
            <h4>Безналичная</h4>
            <p>При выборе безналичного способа оплаты наш менеджер отправит Вам счет-фактуру, который Вы сможете оплатить в любом банковском отделении или с расчетного счета Вашей компании.</p>
        </div>
    </div>
</div>