<div class="one-click__form">
    <button class="one-click__form-close"></button>
    <div class="one-click__hint">Укажите номер телефона и менеджер позвонит вам.</div>
    <div class="one-click__form-row">
        <div class="one-click__form-label"><label for="one-click">Телефон</label></div>
        <div class="one-click__forw-input"><input class="ui-input ui-input_wide" id="one-click" name="phone"></div>
    </div>
</div>