{{#each .}}
    <li data-module="ReviewItem" class="reviews__list-item{{#if level}} reviews__list-item_level{{/if}}">
        <div class="column3">
            <div class="reviews__author">{{name}}</div>
            {{#intl locales="ru-RU"}}
                <div class="reviews__date">{{formatDate date day="numeric" month="long" year="numeric"}}</div>
            {{/intl}}
        </div>
        <div class="column6">
            {{#unless level}}
            <div class="rating">
                <div class="stars">
                    <div class="stars__mask"></div>
                    <div class="stars__rating" style="width: {{math mark '*' 20}}%;"></div>
                    <div class="stars__empty"></div>
                </div>
            </div>
            {{/unless}}
            <div class="reviews__comment">{{text}}</div>
            {{#unless level}}
                {{> review-actions}}
                <div class="review__reply-form"></div>
            {{/unless}}
        </div>
    </li>
{{/each}}