<div class="phone">
    <div class="phone__item">
        <a href="tel:0444573355" class="phone__link">044 457 33 55</a>
    </div>
    <div class="phone__item">
        <a href="tel:0800500277" class="phone__link">0 800 500 277</a>
    </div>
</div>