<div class="rating">
    <div class="rating__stars">
        <div class="rating__stars_all"></div>
        <div class="rating__stars_active" style="width: {{rating}}%"></div>
    </div>
    ({{ratingCount}})
</div>