<div class="reviews__actions">
    <div class="reviews__actions-button">
        <button class="ui-button ui-button_link ui-button_link_review review__helpful">Отзыв полезен{{#if info.like}} ({{info.like}}){{/if}}</button>
        <button class="ui-button ui-button_link ui-button_link_review review__reply" data-id="{{id}}" data-mark="{{rank}}">Ответить{{#if info.reply}} ({{info.reply}}){{/if}}</button>
    </div>
</div>