<div class="reviews__actions">
    <div class="column1 reviews__actions-button">
        <button class="ui-button ui-button_link ui-button_link_review review__reply">Ответить</button>
    </div>
</div>