@import "./../mixins/oban";
@import "./../mixins/custom-mixins";
@import "./../sprite";
@import "./../vars";

.carousel {
  position: relative;
  height: 100vh;
  overflow-y: hidden;
}

.slick-list,
.slick-track,
.carousel__item {
  height: 100%;
}

.carousel__item {
  position: relative;
  outline: 0;
  text-align: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .carousel_state_loading & {
    visibility: hidden;
  }
}

.carousel__image {
  visibility: hidden;
}

.carousel__control {
  position: absolute;
  z-index: 1;
  top: 50%;

  &_prev {
    .retina-sprite(@i-carousel-prev-group);
    left: 10px;
    margin-top: -@i-carousel-prev-height / 2;

    .certificates & {
      .retina-sprite(@i-carousel-prev-alt-group);
    }
  }

  &_next {
    .retina-sprite(@i-carousel-next-group);
    right: 10px;
    margin-top: -@i-carousel-next-height / 2;

    .certificates & {
      .retina-sprite(@i-carousel-next-alt-group);
    }
  }
}

.slick-dots {
  .oban-list-unstyled();
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 18px;
  left: 0;
  z-index: 1;
  text-align: center;

  [role='presentation'] {
    display: inline-block;
    padding: 5px;
    font-size: 0;
    cursor: pointer;

    &.slick-active {
      [role='button'] {
        height: 4px;
        background: #b40000;
      }
    }
  }

  [role='button'] {
    border: 0;
    outline: 0;
    padding: 0;
    width: 50px;
    height: 2px;
    background: #a9acaf;
  }
}

.carousel__inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 100%;
    vertical-align: middle;
  }
}

.carousel__info {
  display: inline-block;
  margin-right: 90px;
  width: 25%;
  vertical-align: middle;
  font-weight: lighter;
  text-align: left;
  color: #fff;
}

.carousel__category {
  .font-size(18);
  margin-bottom: .5em;
}

.carousel__title {
  .font-size(22);
  margin-bottom: 2em;
}

.carousel__price {
  .font-size(32);
  margin-bottom: .8em;
}

.carousel__value {
  .font-size(24);
}

@media (max-width: @endMobile) {
  .carousel__item {
    height: 65vh;
    text-align: left;
  }

  .carousel__inner {
    top: 100%;
    bottom: auto;
    height: 35vh;
    padding: 20px;
    font-size: 0;
  }

  .carousel__info {
    width: 100%;
    margin-right: 0;
    color: #000;
  }

  // TODO: check margins
  .carousel__category,
  .carousel__title,
  .carousel__price {
    margin-bottom: 10px;
  }

  .slick-dots {
    display: none !important;
  }

  .carousel_main & {
    .carousel__control {
      top: auto;
      bottom: 35vh;
      margin-bottom: 18px;

      &_prev {
        left: 50%;
        margin-left: -((@i-carousel-prev-width / 2) + 30px);
      }

      &_next {
        right: 50%;
        margin-right: -((@i-carousel-next-width / 2) + 30px);
      }
    }
  }
}