@import "./../mixins/oban";
@import "./../mixins/custom-mixins";
@import "./../sprite";
@import "./../vars";

.cart {
  position: relative;
  min-height: 400px;
}

.cart__list {
  .oban-list-unstyled();
}

.cart__item {
  .oban-clearfix();
  position: relative;
  padding: 25px 0;
  border-bottom: 1px solid #ccc;

  &:last-child {
    border-bottom: 0;
  }
}

.cart__item__category {
  .font-size(16);
  margin-bottom: 10px;
  font-weight: lighter;
}

.cart__item__title {
  .font-size(20);
  margin-bottom: 10px;
}

.cart__item-thumbnail {
  width: 100px;
  float: left;

  .cart_side & {
    width: 188px;
    float: none;
  }
}

.cart__item-info {
  margin-left: 120px;

  .cart_side & {
    margin-left: 0;
  }
}

.cart__item-cols {
  .checkout & {
    .oban-grid-fluid(2, 0px, cart);
  }
}

.cart__item-qty {
  width: 2.5em;
  text-align: right;
}

.cart__item-remove {
  position: absolute;
  top: 25px;
  right: 5px;
}

.cart__item-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cart {
  .product__price {
    .font-size(28);
    font-weight: normal;
  }

  .product__format {
    .font-size(17);
    font-weight: normal;
  }
}

.cart__item-remove {
  .retina-sprite(@i-delete-group);
}

@media (max-width: @endMobile) {
  .cart__item__category {
    .font-size(24);
  }

  .cart__item__title {
    .font-size(26);
  }

  .cart__item-thumbnail {
    width: 100%;
    float: none;
  }

  .cart__item-info {
    margin-left: 0;
  }
}