@import "./../mixins/oban";
@import "./../mixins/custom-mixins";
@import "./../sprite";
@import "./../vars";

.checkout {
  .oban-clearfix();
  max-width: 1400px;
}

.checkout__shipping {
  width: 60%;
  max-width: 850px;
  float: left;
}

.checkout__cart {
  float: right;
  width: 40%;
  padding-left: 40px;
}

.checkout__shipping-inner {
  border-right: 1px dotted #bbb;
  padding-right: 40px;
}

.checkout__policy {
  margin-bottom: 10px;
}

.checkout__return {
  text-align: right;
  padding: 20px 0;
}

@media (max-width: (@endMobile)) {
  .checkout {
    .checkout__shipping,
    .checkout__cart {
      width: 100%;
      float: none;
    }

    .checkout__cart {
      padding-left: 0;
    }

    .checkout__shipping-inner {
      padding-right: 0;
      border-right: 0;
    }
  }
}