@import "./../mixins/oban";
@import "./../mixins/custom-mixins";
@import "./../sprite";
@import "./../vars";

.delivery__cols {
  .oban-grid-fluid(12, 20px);
}

.delivery {
  h2,
  h3 {
    color: #575757;
    text-transform: uppercase;
  }

  h2 {
    margin-bottom: 1em;
  }

  h3 {
    margin-bottom: 1em;
  }
}

@media screen and (max-width: @endMobile) {
  .delivery__cols {
    margin-left: 0;

    .delivery__col {
      width: 100%;
      padding-left: 0;
      float: none;
    }
  }
}

