@import "./../mixins/oban";
@import "./../mixins/custom-mixins";
@import "./../sprite";
@import "./../vars";

.filters {
  .oban-list-unstyled();
}

.filters__close {
  margin-bottom: 10px;
  display: none;
}

.filters__item {
  display: block;
  cursor: pointer;

  &.active, &:hover {
    background: @colorGreyLight;

    .filters__link {
      color: #000;
    }
  }

  .g-filter-expanded & {
    padding: 19px 15px;
  }
}

.filters__link {
  display: block;
  border-bottom: 1px dotted #666;
  .font-size(14);
  line-height: 1.95;
  text-transform: uppercase;
  text-decoration: none;
  color: #ccc;

  .filters__item:first-child & {
    border-top: 1px dotted #666;
  }

  .g-filter-expanded & {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    font-size: 0;
    border: 0;

    &_manikjurnye_nabory {
      .retina-sprite(@i-manicure-kit-group);
    }

    &_nozhnicy {
      .retina-sprite(@i-scissors-group);
    }

    &_pilochki {
      .retina-sprite(@i-nailfile-group);
    }

    &_kusachki {
      .retina-sprite(@i-nippers-group);
    }

    &_pincety {
      .retina-sprite(@i-tweezers-group);
    }

    &_nabory_dlya_pedikyura {
      .retina-sprite(@i-pedicure-kit-group);
    }

    &:first-child {
      border: 0;
    }
  }

  .filters__item_state_current & {
    color: #000;
  }
}

.filters__title {
  .font-size(20);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2em;
  text-align: center;
  color: #000;
}

.filters__side {
  width: 200px;
  height: 100%;
  display: none;
  float: left;
  padding: 13px 21px;
  overflow-y: auto;
  background: @colorGreyLight;
  color: @colorGreyDarker;

  .g-filter-expanded & {
    display: block;
  }
}

.filters__set {
  margin-bottom: 20px;
}

.filters__set__title {
  .font-size(18);
  margin-bottom: 1em;
}

.filters__set__item {
  .font-size(13);
}

@media (max-width: @endMobile) {
  .filters__side {
    float: none;
  }

  .filters__title {
    .font-size(26);
  }

  .filters__set__title {
    .font-size(20);
  }

  .filters__set__item {
    .font-size(18);
  }

  .filters__link {
    .font-size(18);
    &, .filters__item:first-child & {
      border: 0;
    }
  }

  .filters__side {
    width: auto;
  }

  .filters__close {
    display: block;
  }
}

@media (min-width: @endMobile) {
  .filters__link {
    .g-filter-expanded .filters__item:hover &,
    .g-filter-expanded .filters__item.active & {
      &_manikjurnye_nabory {
        .retina-sprite(@i-manicure-kit-active-group);
      }

      &_nozhnicy {
        .retina-sprite(@i-scissors-active-group);
      }

      &_pilochki {
        .retina-sprite(@i-nailfile-active-group);
      }

      &_kusachki {
        .retina-sprite(@i-nippers-active-group);
      }

      &_pincety {
        .retina-sprite(@i-tweezers-active-group);
      }

      &_nabory_dlya_pedikyura {
        .retina-sprite(@i-pedicure-kit-active-group);
      }
    }
  }
}