@import "./../mixins/oban";
@import "./../mixins/custom-mixins";
@import "./../vars";
@import "./../sprite";

.mini-cart {
  position: fixed;
  z-index: 2;
  top: 20px;
  right: 40px;
}

.mini-cart__inner {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: block;
  border: 2px solid #1b1c1f;
  transition: transform, .25s, ease;

  &:hover, &_state_toggling {
    transform: scale(1.2, 1.2);
  }

  &:before {
    content: '';
    position: absolute;
    .retina-sprite(@i-mini-cart-group);
    top: 50%;
    left: 50%;
    margin-top: -@i-mini-cart-height / 2;
    margin-left: (-@i-mini-cart-width / 2) + 3px; //
  }
}

.mini-cart__entries {
  position: absolute;
  bottom: 1px;
  right: -7px;
  width: 23px;
  height: 23px;
  line-height: 23px;
  text-align: center;
  border-radius: 50%;
  background: @colorRed;

  color: #fff;
  .font-size(15);
  overflow: hidden;
}