@import "./../mixins/oban";
@import "./../mixins/custom-mixins";
@import "./../sprite";
@import "./../vars";

.phone {
  margin-bottom: 25px;
  text-align: center;

  &_nav {

    .g-filter-expanded & {
      display: none;
    }
  }
}

.phone__item {
  .font-size(20);
  line-height: 1.4;
}

.phone__link {
  display: inline-block;
  padding: 0 10px;
  color: @colorGrey;
  text-decoration: none;

  .phone__item:first-child & {
    border-bottom: 1px solid @colorGrey;
  }
}

@media (max-width: @endMobile) {
  .phone {
    display: none;
  }
}

@media (min-width: 1025px) and (max-width: 1366px) {
  .phone__item {
    .font-size(18);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .phone__item {
    .font-size(16);
  }
}