@import "./../mixins/oban";
@import "./../mixins/custom-mixins";
@import "./../sprite";
@import "./../vars";

.product-list__wrapper {
  padding: 0 106px 0 30px;
}

.product-list {
  .oban-list-unstyled();
  .oban-grid-fluid(3, 96px);
}

.product-list__item {
  padding: 4px;
  transform-origin: center 0;
  transform: rotateX(0deg);
  transition: transform, .5s, ease;
  backface-visibility: hidden;

  &_state_loading {
    transform: rotateX(90deg);
  }
}

.product-list__item__perspective {
  perspective: 2000px;
  perspective-origin: 50% 20%;
}

.product-list__item__table {
  width: 100%;
  display: table;
}

.product-list__item__table__cell {
  display: table-cell;
  vertical-align: middle;
}

.product-list__item__img {
  display: block;
  max-width: 100%;
}

.product-list__item__info {
  padding: 0;
}

.product-list__item__category {
  .font-size(14);
  letter-spacing: .2px;
  margin-bottom: .2em;
  font-weight: lighter;
}

.product-list__item__title {
  .font-size(20);
  margin-bottom: .7em;
}

.product-list__item__article {
  .font-size(12);
  margin-bottom: 1em;
  color: #8d8d8d;
}

.product-list__item__actions {
  line-height: 37px;

  .product-list & {
    .oban-grid-fluid(2, 10px);
  }
}

.product-list__item__actions__buy {
  text-align: right;
}

.product-list__item__price,
.product-list__item__format {
  vertical-align: middle;
  color: #b40000;
}

.product-list__item__price {
  .font-size(23);
}

.product-list__item__format {
  .font-size(14);
}

@media (max-width: (@endMobile + 1)) {
  .product-list__wrapper {
    padding: 0 140px 0 68px;
  }

  .product-list {
    .oban-list-unstyled();
    .oban-grid-fluid(2, 96px);
  }

  .product-list__item__category {
    .font-size(11);
  }

  .product-list__item__title {
    .font-size(16);
  }

  .product-list__item__article {
    .font-size(10);
  }
}