@import "./../mixins/oban";
@import "./../mixins/custom-mixins";
@import "./../sprite";
@import "./../vars";

.product__inner {
  .oban-grid-fluid(1, 30px);
  padding-top: 60px;
}

.product__thumbnail {
  width: 59%;
  float: left;
}

.product__info {
  width: 41%;
  float: left;
  padding-right: 20px;
}

.product__category {
  .font-size(30);
  line-height: 1;
  font-weight: lighter;
  letter-spacing: 1.7px;
  color: #343434;
  margin: 0;
}

.product__title {
  .font-size(48);
  font-weight: lighter;
  letter-spacing: 1px;
  color: #343434;
  margin: 0 0 .3125em;
}

.product__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid #CBCBCB;
  padding: 20px 0;

  &_justify {
    justify-content: space-between;
  }

  &_extended {
    padding: 46px 0;
  }

  &_flexless {
    display: block;
  }
}

.product__article {
  margin-bottom: 16px;
  color: #585858;
}

.product__votes,
.product__reviews-counter {
  vertical-align: middle;
}

.product__reviews-counter {
  white-space: nowrap;
  .font-size(14);
  text-transform: uppercase;
}

.product__votes {
  white-space: nowrap;
  margin-right: 10px;
  color: #3d3d3d;
}

.product__price,
.product__format {
  vertical-align: middle;
  font-weight: lighter;
  color: #b40000;
}

.product__price {
  .font-size(36);
  margin-right: 2px;
}

.product__format {
  .font-size(20);
}

.product__button {
  .font-size(14);
  padding-left: 28px;
  padding-right: 28px;
}

.product__delivery-promo {
  display: inline-block;
  text-align: left;
  position: relative;
  padding-left: @i-delivery-width + 10px;
  text-transform: uppercase;
  .font-size(14);
  line-height: 1.5;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    .retina-sprite(@i-delivery-group);
    margin-top: -@i-delivery-height / 2;
  }
}

.product__share {
  margin-top: 74px;
}

.product__description {
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;

  p {
    .font-size(24);
    font-weight: lighter;
  }

  &:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    width: 70%;
    background: #f3f3f3;
  }
}

.product__description-lead,
.product__description-thumbnail {
  padding-left: 20px;
}

.product__description-lead {
  width: 37%;
  float: left;
}

.product__description-thumbnail {
  width: 63%;
  float: left;
}

.product__description-title {
  .font-size(33);
  margin-bottom: 1em;
  font-weight: lighter;
  text-transform: uppercase;
}

.product__description-cols {
  .oban-grid-fluid(2, 20px);
  padding: 100px 0;
}

.product__params {
  padding: 20px 0;
}

.product__params-thumbnail {
  text-align: center;
}

.product__rating {
  text-align: center;
  padding: 20px 0;
}

.product__rating-result {
  .font-size(24);
  font-weight: lighter;
  color: #b40000;
  margin: 10px 0;
}

.product__rating-resume {
  .font-size(18);
  font-weight: lighter;
  margin-bottom: 10px;
}

@media (max-width: @endMobile) {
  .product__inner {
    margin-left: 0;
  }

  .product__thumbnail,
  .product__info {
    float: none;
    width: 100%;
  }

  .product__info {
    padding-left: 20px;
  }

  .product__row {
    flex-direction: column;
    text-align: center;
  }

  .product__description:before {
    width: 100%;
  }

  .product__description-cols {
    padding: 0;
  }

  .product__description-lead,
  .product__description-thumbnail {
    width: 100%;
    float: none;
  }

  .product__button {
    width: 100%;
  }
}

@media (min-width: 1024px) and (max-width: 1240px) {
  .product__price {
    .font-size(30);
  }

  .product__format {
    .font-size(16);
  }

  .product__thumbnail {
    width: 53%;
  }

  .product__info {
    width: 47%;
  }
}

@media (min-width: 1024px) and (max-width: 1366px) {
  .product__category {
    .font-size(26);
  }

  .product__title {
    .font-size(40);
  }

  .product__article {
    .font-size(14);
  }

  .product__votes {
    .font-size(12);
  }

  .product__button {
    .font-size(12);
    padding-left: 24px;
    padding-right: 24px;
  }

  .product__reviews-counter {
    .font-size(12);
  }

  .product__description-title {
    .font-size(26);

    p {
      .font-size(18);
    }
  }
}

@media (min-width: 1920px) {
  .product__info {
    padding-right: 252px;
  }
}