.sorting {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 249px;
  right: 0;
  text-align: center;
}

.sorting__inner {
  display: inline-block;
  padding: 8px 12px;
  background: rgba(0, 0, 0, 0.5);
}

.sorting__item {
  padding: 4px;
  color: #fff;
  text-decoration: none;
}