doctype html
html
    head
        title Master Manicure
    body
        a(href='./build/templates/pages/homepage.html') Homepage
        br
        a(href='./build/templates/pages/about.html') About
        br
        a(href='./build/templates/pages/articles.html') Articles
        br
        a(href='./build/templates/pages/article.html') Article
        br
        a(href='./build/templates/pages/certificates.html') Certificates
        br
        a(href='./build/templates/pages/checkout.html') Checkout
        br
        a(href='./build/templates/pages/contacts.html') Contacts
        br
        a(href='./build/templates/pages/delivery.html') Delivery
        br
        a(href='./build/templates/pages/product-details.html') Product details
        br
        a(href='./build/templates/pages/product-list.html') Product list