extends ./../layouts/base

block navigation
    include ./../components/navigation

block mini-cart
    include ./../components/mini-cart

block content
    .main-content
        .content.reducer.reducer_supressed
            .logo-wrapper
                img(src='./../../i/logo.png')
            p Интернет-магазин MASTER MANICURE создан в 2014 году с целью предоставления нашим клиентам качественной и оригинальной продукции ведущих мировых брендов маникюрных наборов и инструментов, качественного сервиса и приятного процесса приобретения товаров.
                br
                |Качество продукции и обслуживания является основополагающим элементом нашей стратегии.
            h3
                a(href='#') Маникюрные наботы
            p В этом разделе магазина представлены в широком ассортименте оригинальные маникюрные наборы ведущих мировых брендов.
            h3
                a(href='#') Инструменты
            p В этом разделе магазина представлены в широком ассортименте оригинальные
                a(href='#')  ножницы
                |,
                a(href='#')  пилочки
                |,
                a(href='#')  кусачки
                |,
                a(href='#')  пинцеты
                |  и
                a(href='#')  наборы для педикюра
                |  ведущих мировых брендов.
            h3 MASTER MANICURE для Вас это:
            ul
                li Широкий выбор маникюрных наборов и инструментов
                li Только сертифицированная, оригинальная продукция
                li Приятные цены
                li Новинки продукции
                li Подбор товара по заданным параметрам
                li Работа профессиональных менеджеров, которые предоставят полную информацию об интересующем Вас продукте
                li Подробные описания товаров, интересные обзоры и статьи
                li On-Line консультация
                li Точная работа службы доставки магазина
                li Индивидуальный подход к каждому клиенту
                li Доставка по Украине
            p Успех компании заключается в сотрудничестве с официальными дистрибьюторами, работе с оригинальной продукцией и предоставлении клиентам комфортного сервиса и качественных товаров.
                br
                |Ведь качество - это не просто абстрактное понятие. Это стиль жизни и мышления. Воспринимая качество таким образом, мы предоставляем его нашим клиентам во всех аспектах нашей деятельности.
            .sign
                p С уважением, команда
                    a(href='#')  MASTER MANICURE