extends ./../layouts/sup

block content
    .main-content
        .reducer.reducer_supressed.reducer_decorated
            img(src='./../../i/article-1.jpg' alt='article-1')
            h1 Интересные факты о маникюре
            section.article__section
                p История маникюра уходит корнями в глубокую древность. В Египте в 1964 году при археологических раскопках обнаружили гробницу с мумиями людей из списка свиты фараона Нусера, жившего за 2400 лет до н.э. В этих списках они значились как «хранители и мастера ногтей фараона», то есть, говоря современным языком, придворные маникюристы. Самый древний маникюрный набор из литого золота, датируется 3200 г. до н.э.
                p Об искусстве маникюра было известно в Древнем Египте еще за две тысячи лет до нашей эры. Внешний облик там ценился очень высоко. Сама Клеопатра создала первую энциклопедию о косметике в загадочной стране пирамид и фараонов. Именно там за несколько лет до нашей эры создавались и совершенствовались косметические средства и лаки для ногтей.
            img(src='./../../i/article-2.jpg' alt='article-2')
            section.article__section
                h4 Первый лак для маникюра
                p Первый непрозрачный лак был создан в 1932 году - он был красного цвета. До этого египтянки наносили на ногти хну и другие растительные красители. Страна Фараонов следила за своей внешностью таким образом, а китайцы, например, считали, что ногти могут общаться с высшими силами, тем самым символизируя мудрость. Поэтому в Древнем Китае разрешалось отращивать ногти не только женщинам, но и противоположному полу.
            img(src='./../../i/article-3.jpg' alt='article-3')
            section.article__section
                h4 Мужской маникюр сегодня
                p Между прочим, такая тенденция прослеживается и в наше время. Некоторые мужчины ухаживают за собой очень тщательно, следя за последними писками моды и посещая салоны красоты. Такие особи называются "метросексуалами".
                p Регулярно наведываясь в салоны красоты, мужчины наводят на ногтях порядок, делая "сухой маникюр" и полируя ногти, что создает эффект бесцветного лака. Безусловно, любой уважающий себя мужчина стрижет и чистит ногти хотя бы раз в две недели, но не каждый носит с собой маникюрный набор "на всякий случай". А гитаристы, например, отращивают ногти, но не более трех миллиметров, - им так легче играть на гитаре.
            img(src='./../../i/article-4.jpg' alt='article-4')
            section.article__section
                h4 Самые длинные ногти
                p Кое-что интересное: Вы можете себе представить? Самые длинные ногти в истории человечества были у… мужчины! Нелвин Фейзел Буз не стриг ногти больше 25 лет и их рост составил 953 см. После него идёт представительница слабого пола Ли Редмонд - в 2006 году длина её ногтей была 7,5 м. Нежелание стричь ногти женщине принесло мировую известность и она была занесена в книгу рекордов Гиннеса. Третье место по длине ногтей занимает опять же мужчина Шридхар Чиллала. Длина его ногтей достигла 6,12 м.
            section.article__pub-details
                .article__pub-title Автор
                .article__pub-author Валентина Литвицкая
                .article__pub-date 08 августа 2015
        .reducer.reducer_supressed
            include ./../components/mini-nav
        include ../components/reviews