extends ./../layouts/main

block content
    h1 Интересные факты о маникюре
    p История маникюра уходит корнями в глубокую древность. В Египте в 1964 году при археологических раскопках обнаружили гробницу с мумиями людей из списка свиты фараона Нусера, жившего за 2400 лет до н.э. В этих списках они значились как «хранители и мастера ногтей фараона», то есть, говоря современным языком, придворные маникюристы. Самый древний маникюрный набор из литого золота, датируется 3200 г. до н.э.
    p Об искусстве маникюра было известно в Древнем Египте еще за две тысячи лет до нашей эры. Внешний облик там ценился очень высоко. Сама Клеопатра создала первую энциклопедию о косметике в загадочной стране пирамид и фараонов. Именно там за несколько лет до нашей эры создавались и совершенствовались косметические средства и лаки для ногтей.