doctype html
html
    head
        title Master Manicure
    body
        a(href='./homepage.html') Homepage
        br
        a(href='./about.html') About
        br
        a(href='./articles.html') Articles
        br
        a(href='./article.html') Article
        br
        a(href='./certificates.html') Certificates
        br
        a(href='./checkout.html') Checkout
        br
        a(href='./contacts.html') Contacts
        br
        a(href='./delivery.html') Delivery
        br
        a(href='./product-details.html') Product details
        br
        a(href='./product-list.html') Product list