extends ./../layouts/main

block content
    .main-content
        .product.content
            include ./../components/product-menu
            .column1.product__thumbnail
                img(src='./../../i/product.jpg' alt='Product')
            .column1.product__info
                h2.product__category Маникюрный набор
                h1.product__title Zauber MS-508
                .product__article Артикул 29811
                .product__rows
                    .product__row
                        .rating.rating_product
                            .rating__stars
                                .rating__stars_all
                                .rating__stars_active
                        span.product__votes 4.7 (69 голосов)
                        span.ui-pseudo_style1.product__reviews-counter 15 отзывов
                    .product__row.product__row_extended
                        .product__price-box
                            span.product__price 480
                            span.product__format грн
                        .product__actions.ui-buttons
                            button.ui-button.ui-button_accent.product__button Купить
                            button.ui-button.ui-button_simple.product__button Купить в 1 клик
                    .product__row
                        span.ui-pseudo.product__delivery-promo Бесплатная доставка по Украине
                        br
                        .product__share.ui-button-set
                            .ui-button.ui-button_link Поделиться
                            a(href='#').ui-button.ui-button_link.ui-button_link_icon.ui-button_link_icon_facebook
                            a(href='#').ui-button.ui-button_link.ui-button_link_icon.ui-button_link_icon_twitter
                            a(href='#').ui-button.ui-button_link.ui-button_link_icon.ui-button_link_icon_google
        .product__description.content
            h2.product__description-title Описание маникюрного набора Zauber MS-508
            .product__description-cols
                .product__description-lead.column1
                    p Маникюрный набор Zauber-manicure 8-предметный, страна производитель Германия. Футляр в виде рамки. Внешняя отделка футляра – кожа, внутренняя отделка – велюр под замшу. Упаковывается в коробку из картона.
                    p Материал инструментов - высококачественная нержавеющая сталь.
                .product__description-thumbnail.column1
                    img(src='./../../i/product-description.png' alt='Product')