@import "vars";
@import "./mixins/custom-mixins";

html,
body {
  height: 100%;
}

body {
  font-family: @fontUbuntu;
  font-size: @mainFontSize;
  line-height: 1.2;
}

h1 {
  .font-size(24);
  margin: 0 0 2em;
}

p {
  .font-size(16);
  margin: 0 0 1.25em;
  font-weight: lighter;
  color: @colorGreyLight;
}

.main {
  position: relative;
  padding-left: 249px;
}

@media all and (max-width: 1023px) {
  .main {
    padding-left: 150px;
  }
}