@import "vars";
@import "./mixins/oban";
@import "./mixins/custom-mixins";

html {
  .oban-box-sizing(border-box);
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  font-family: @fontUbuntu;
  font-size: @mainFontSize;
  line-height: 1.2;
}

h1 {
  .font-size(24);
  margin: 0 0 2em;
}

p {
  .font-size(16);
  margin: 0 0 1.25em;
  font-weight: lighter;
  color: @colorGreyDark;
}

a, a:hover, a:active, a:focus {
  outline: none;
}

.main {
  position: relative;
  padding-left: 250px;

  .g-filter-expanded & {
    padding-left: 270px;
  }
}

@media all and (max-width: @endMobile) {
  .main {
    padding-left: 70px;
  }

  body {
    .g-filter-expanded & {
      overflow: hidden;
    }
  }
}