@import "vars";
@import "mixins/oban";
@import "mixins/custom-mixins";
@import "sprite";

.ui-form__rows {
  .oban-list-unstyled();
}

.ui-form__row {
  .oban-clearfix();
  margin-bottom: 10px;
}

.ui-form__label {
  width: 200px;
  float: left;
}

.ui-form__input {
  margin-left: 200px;
}

.ui-input {

  &_wide {
    width: 100%;
  }
}

.ui-select {

  &_wide {
    width: 100%;
  }
}

.ui-textarea {
  resize: vertical;

  &_wide {
    width: 100%;
  }
}

.ui-checkbox {
  vertical-align: middle;
}

.ui-label {
  vertical-align: middle;
}

.ui-label_hint {
  vertical-align: middle;
  color: @colorGreyMedium;
}

.ui-button {
  display: inline-block;
  outline: 0;
  border: 1px solid;
  padding: 8px 35px;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;

  &_accent {
    letter-spacing: .05em;
    border-color: #b40000;
    background: #b40000;
    color: #fff;
    .font-size(17);

    &:hover {
      color: #b40000;
      background: #fff;
    }
  }

  &_simple {
    border-color: #b40000;
    background: none;
    color: #b40000;
    .font-size(17);

    &:hover {
      border-color: #b40000;
      color: #fff;
      background: #b40000;
    }
  }

  &_small {
    padding: 8px 28px;
    .font-size(15);
    font-weight: bold;
  }

  &_link {
    vertical-align: middle;
    border-color: #b4b4b4;
    padding: 10px 33px 9px;
    display: inline-block;
    .font-size(16);
    font-weight: lighter;
    color: #000;
    text-transform: uppercase;

    &:hover {
      background: #000;
      color: #fff;
    }

    &_accent {
      border: 2px solid #000;
      padding: 6px 20px 7px;
    }

    &_review {
      border-color: #000;
      padding: 7px 30px 8px;
      letter-spacing: 0.1px;
    }

    &_icon {
      padding: 10px 15px 6px;

      &:before {
        content: '';
        display: inline-block;
      }

      &_facebook {
        padding-left: 19px;
        padding-right: 19px;

        &:before {
          .sprite(@i-social-facebook);
        }
      }

      &_twitter:before {
        .sprite(@i-social-twitter);
      }

      &_google:before {
        .sprite(@i-social-google);
      }
    }

    &_highlighted {
      border-color: #ac0000;
      padding: 8px 28px 7px;
      .font-size(15);
      color: #b40000;
    }

    .ui-button-set & {
      border-left-width: 0;

      &:first-child {
        border-left-width: 1px;
      }
    }
  }
}

.ui-pseudo {
  &:extend(a);
  cursor: pointer;
  border-bottom: 1px dashed @colorRed;
}

.ui-pseudo_style1 {
  cursor: pointer;
  color: #3d3d3d;
  border-bottom: 1px dashed #3d3d3d;
}

.ui-button-set {
  display: inline-block;
}

.ui-buttons {

  .ui-button {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.ui-social {
  display: inline-block;
  vertical-align: middle;
  margin-left: 32px;

  &_facebook {
    .sprite(@i-social-facebook-link);
  }

  &_twitter {
    .sprite(@i-social-twitter-link);
  }

  &_google {
    .sprite(@i-social-google-link);
  }
}

@media (max-width: (@endMobile + 1)) {

}