// Colors
@colorGrey: #808080;
@colorGreyLight: #4c4c4c;
@colorOrange: #ff9600;
@colorRed: #b40000;

// Fonts
@mainFontSize: 16px;
@fontUbuntu: Ubuntu, Arial, sans-serif;

// BPs
@beginBigDesktop: 1367px;
@endMobile: 1023px;