.carousel.carousel_state_loading(data-module='Carousel')
    .carousel__item
        .carousel__item__inner
            .carousel__item__info
                .carousel__item__info__category Маникюрный набор
                .carousel__item__info__title Ted Baker Pink № 38
                .carousel__item__info__price 1 499
                    span.carousel__item__info__value &nbsp;грн
                a(href='#').ui-button Купить
        img.carousel__item__image(src='./../../i/carousel-1.jpg')
    .carousel__item
        .carousel__item__inner
            .carousel__item__info
                .carousel__item__info__category Маникюрный набор
                .carousel__item__info__title Ted Baker Pink № 38
                .carousel__item__info__price 1 499
                    span.carousel__item__info__value &nbsp;грн
                a(href='#').ui-button Купить
        img.carousel__item__image(src='./../../i/carousel-2.jpg')