.certificates
   .certificates__wrapper
      .certificates__carousel.carousel_state_loading(data-module='Certificates' data-slick-options!={dots: false})
         .certificates__item
            .certificates__item-col.column1
               img(src='./../../i/certificate-1.jpg' alt='Certificate')
            .certificates__item-col.column1
               img(src='./../../i/certificate-1_1.jpg' alt='Certificate')
         .certificates__item
            .certificates__item-col.column1
               img(src='./../../i/certificate-1.jpg' alt='Certificate')
            .certificates__item-col.column1
               img(src='./../../i/certificate-1_1.jpg' alt='Certificate')