.filters
   a(href='#' data-category='manicure-kit').filters__item.filters__item_manicure-kit Маникюрные наборы
   a(href='#' data-category='scissors').filters__item.filters__item_scissors Ножницы
   a(href='#' data-category='nailfile').filters__item.filters__item_nailfile Пилочки
   a(href='#' data-category='nippers').filters__item.filters__item_nippers Кусачки
   a(href='#' data-category='tweezers').filters__item.filters__item_tweezers Пинцеты
   a(href='#' data-category='pedicure-kit').filters__item.filters__item_pedicure-kit Наборы для педикюра