ul.filters
    li.filters__item
        a(href='#' data-category='manicure-kit').filters__item__link.filters__item__link_manicure-kit Маникюрные наборы
    li.filters__item
        a(href='#' data-category='scissors').filters__item__link.filters__item__link_scissors Ножницы
    li.filters__item
        a(href='#' data-category='nailfile').filters__item__link.filters__item__link_nailfile Пилочки
    li.filters__item
        a(href='#' data-category='nippers').filters__item__link.filters__item__link_nippers Кусачки
    li.filters__item
        a(href='#' data-category='tweezers').filters__item__link.filters__item__link_tweezers Пинцеты
    li.filters__item
        a(href='#' data-category='pedicure-kit').filters__item__link.filters__item__link_pedicure-kit Наборы для педикюра