ul.filters
    li.filters__item(data-category='manicure-kit')
        a(href='/Master-Manicure/build/templates/pages/product-list.html#category=manicure-kit&page=1').filters__link.filters__link_manicure-kit Маникюрные наборы
    li.filters__item(data-category='scissors')
        a(href='/Master-Manicure/build/templates/pages/product-list.html#category=scissprs&page=1').filters__link.filters__link_scissors Ножницы
    li.filters__item(data-category='nailfile')
        a(href='/Master-Manicure/build/templates/pages/product-list.html#category=nailfile&page=1').filters__link.filters__link_nailfile Пилочки
    li.filters__item(data-category='nippers')
        a(href='/Master-Manicure/build/templates/pages/product-list.html#category=nippers&page=1').filters__link.filters__link_nippers Кусачки
    li.filters__item(data-category='tweezers')
        a(href='/Master-Manicure/build/templates/pages/product-list.html#category=tweezers&page=1').filters__link.filters__link_tweezers Пинцеты
    li.filters__item(data-category='pedicure-kit')
        a(href='/Master-Manicure/build/templates/pages/product-list.html#category=pedicure-kit&page=1').filters__link.filters__link_pedicure-kit Наборы для педикюра