.carousel.carousel_main.carousel_state_loading(data-module='MainCarousel')
    .carousel__item
        .carousel__inner
            .carousel__info
                .carousel__category Маникюрный набор
                .carousel__title Ted Baker Pink № 38
                .carousel__price 1 499
                    span.carousel__value &nbsp;грн
                form(data-module='AddToCart')
                    input(type='hidden' name='product' value='product-000001')
                    button(data-product-id='product-000001' type='submit').ui-button.ui-button_accent Купить
        img.carousel__image(src='./../../i/carousel-1.jpg')
    .carousel__item
        .carousel__inner
            .carousel__info
                .carousel__category Маникюрный набор
                .carousel__title Ted Baker Pink № 38
                .carousel__price 1 499
                    span.carousel__value &nbsp;грн
                form(data-module='AddToCart')
                    input(type='hidden' name='product' value='product-000001')
                    button(data-product-id='product-000001' type='submit').ui-button.ui-button_accent Купить
        img.carousel__image(src='./../../i/carousel-2.jpg')