.mini-nav
   .mini-nav__return.column1
      a(href='#').ui-button.ui-button_link Вернуться к статьям
   .mini-nav__social.column1
      .ui-button-set
         .ui-button.ui-button_link Поделиться
         a(href='#').ui-button.ui-button_link.ui-button_link_icon.ui-button_link_icon_facebook
         a(href='#').ui-button.ui-button_link.ui-button_link_icon.ui-button_link_icon_twitter
         a(href='#').ui-button.ui-button_link.ui-button_link_icon.ui-button_link_icon_google