nav.nav(data-module='Navigation')
    .nav__inner
        .nav__row.nav__row_top
            .nav__reducer
                a.nav__logo(href='/')
                    img.nav__logo__image(src='./../../i/logo.png')
                    img.nav__logo__image.nav__logo__image_mobile(src='./../../i/logo_mobile.png')
                .nav__phone
                    .nav__phone__item
                        a(href='tel:0444573355').nav__phone__link 044 457 33 55
                    .nav__phone__item
                        a(href='tel:0800500277').nav__phone__link 0 800 500 277
        .nav__row.nav__row_middle
            .nav__reducer
                .nav__categories
                    a(href='#').nav__categories__item.nav__categories__item_manicure-kit Маникюрные наборы
                    a(href='#').nav__categories__item.nav__categories__item_scissors Ножницы
                    a(href='#').nav__categories__item.nav__categories__item_nailfile Пилочки
                    a(href='#').nav__categories__item.nav__categories__item_nippers Кусачки
                    a(href='#').nav__categories__item.nav__categories__item_tweezers Пинцеты
                    a(href='#').nav__categories__item.nav__categories__item_pedicure-kit Наборы для педикюра
        .nav__row.nav__row_bottom
            ul.nav__sections
                li.nav__sections__item
                    a.nav__sections__item__link(href='#') О нас
                li.nav__sections__item
                    a.nav__sections__item__link(href='#') Сертификаты
                li.nav__sections__item
                    a.nav__sections__item__link(href='#') Статьи
                li.nav__sections__item
                    a.nav__sections__item__link(href='#') Оплата и доставка
                li.nav__sections__item
                    a.nav__sections__item__link(href='#') Контакты
            .nav__copy © 2014 Все права защищены
                br
                |Сделано в&nbsp;
                a.nav__copy__link(href='#') YellowPoint