section.reviews(data-module='Reviews')
   .reducer.reducer_supressed
      .reviews__title Комментарии к этой статье
      .reviews__delimeter
         .reviews__anchor
            button.ui-button.ui-button_simple Комментировать
         .reviews__wrapper
            ul.reviews__list
   .reducer
      .reviews__more
         button.ui-button.ui-button_link.ui-button_link_accent.reviews__get-more Еще комментарии