section.reviews(data-module='Reviews' data-anchor='reviews')
   .reducer.reducer_reviews
      .reviews__title Отзывы о маникюрном наборе zauber MS-508
      .reviews__delimeter
         .reviews__anchor
         .reviews__wrapper
            ul.reviews__list
   .reducer
      .reviews__more
         button.ui-button.ui-button_link.ui-button_link_accent.reviews__get-more Еще комментарии