.sorting(data-module='Sorting')
    .sorting__inner
        span Выводить:
        a(href='#' data-sorting='rating').sorting__item По рейтингу
        a(href='#').sorting__item Цена
        a(href='#').sorting__item Цена