.sorting(data-module='Sorting')
    .sorting__inner
        span.sorting__item Выводить:
        a(href='#').sorting__item По рейтингу
        a(href='#').sorting__item Цена
        a(href='#').sorting__item Цена