form.sorting(data-module='Sorting')
    .sorting__inner
        span Выводить:
        label По рейтингу
            input.sorting__item(name='sorting' type='radio' value='rating')
        label Цена
            input.sorting__item(name='sorting' type='radio' value='price')
        label Цена
            input.sorting__item(name='sorting' type='radio' value='price1')