doctype html
html
    head
        title Master Manicure
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        link(rel='stylesheet' href='../../styles/styles.css')
        <!--[if lt IE 9]>
        <script src='../../../src/js/utils/html5shiv'></script>
        <![endif]-->
    body
        block content
        script(src='../../js/app.js')